.product-display {
    width: 100%;

    .product-display-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22ch, 1fr));
        width: 100%;
        gap: 2rem;
        padding: 1rem;

        li {

            border-radius: 2rem;
            display: flex;
            flex-direction: column;
            background-color: rgb(244, 245, 245);
            padding: 1rem;

            span {
                display: block;
                font-size: 1.4rem;
            }

        }
    }
}

.product {
    margin: 0 10% 0 10%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr auto 1fr;
    grid-template-rows: auto auto 1fr 1fr 1fr 1fr;

    h3 {
        grid-column: 1/4;
        grid-row: 1;
    }

    p {
        grid-column: 1/3;
        grid-row: 3/5;
    }

    span {
        grid-column: 1;
        grid-row: 2;
    }

    figure {
        /* display: grid; */

        grid-column: 4/5;
        grid-row: 1/6;

        img {
            width: 20rem;
        }

    }
}